openapi: 3.1.0
info:
  title: Dialpad API
  description: >-
    REST API for Dialpad's AI-powered cloud communications platform. Manage
    calls, users, offices, contacts, rooms, recordings, transcripts, webhooks
    and event subscriptions.
  version: "2.0"
servers:
  - url: https://dialpad.com/api/v2
    description: Dialpad API v2
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Calls
  - name: Users
  - name: Offices
  - name: Contacts
  - name: Rooms
  - name: Transcripts
  - name: Recordings
  - name: Webhooks
  - name: Subscriptions
paths:
  /call:
    post:
      tags: [Calls]
      summary: Initiate outbound call
      operationId: initiateCall
      responses:
        '200':
          description: Call initiated
  /call/{id}:
    get:
      tags: [Calls]
      summary: Get call status / info
      operationId: getCall
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Call details
  /calls:
    get:
      tags: [Calls]
      summary: List concluded calls
      operationId: listCalls
      responses:
        '200':
          description: List of calls
  /call/{id}/transfer:
    post:
      tags: [Calls]
      summary: Transfer active call
      operationId: transferCall
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Call transferred
  /call/{id}/hangup:
    post:
      tags: [Calls]
      summary: Terminate call
      operationId: hangupCall
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Call ended
  /call/{id}/participants:
    post:
      tags: [Calls]
      summary: Add participants to call
      operationId: addCallParticipants
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Participants added
  /call/{id}/labels:
    post:
      tags: [Calls]
      summary: Set call labels
      operationId: setCallLabels
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Labels updated
  /users:
    get:
      tags: [Users]
      summary: List company users
      operationId: listUsers
      responses:
        '200':
          description: Users
    post:
      tags: [Users]
      summary: Create user
      operationId: createUser
      responses:
        '200':
          description: User created
  /users/{id}:
    get:
      tags: [Users]
      summary: Get user
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: User
    patch:
      tags: [Users]
      summary: Update user
      operationId: updateUser
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: User updated
    delete:
      tags: [Users]
      summary: Delete user
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Deleted
  /users/{id}/call:
    post:
      tags: [Users]
      summary: Initiate call on behalf of user
      operationId: initiateUserCall
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Call initiated
  /offices:
    get:
      tags: [Offices]
      summary: List offices
      operationId: listOffices
      responses:
        '200':
          description: Offices
    post:
      tags: [Offices]
      summary: Create secondary office
      operationId: createOffice
      responses:
        '200':
          description: Office created
  /offices/{id}:
    get:
      tags: [Offices]
      summary: Get office
      operationId: getOffice
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Office
    patch:
      tags: [Offices]
      summary: Update office
      operationId: updateOffice
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Office updated
  /contacts:
    get:
      tags: [Contacts]
      summary: List contacts
      operationId: listContacts
      responses:
        '200':
          description: Contacts
    post:
      tags: [Contacts]
      summary: Create contact
      operationId: createContact
      responses:
        '200':
          description: Contact created
  /contacts/{id}:
    get:
      tags: [Contacts]
      summary: Get contact
      operationId: getContact
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Contact
    patch:
      tags: [Contacts]
      summary: Update contact
      operationId: updateContact
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Updated
    delete:
      tags: [Contacts]
      summary: Delete contact
      operationId: deleteContact
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Deleted
  /rooms:
    get:
      tags: [Rooms]
      summary: List rooms
      operationId: listRooms
      responses:
        '200':
          description: Rooms
    post:
      tags: [Rooms]
      summary: Create room
      operationId: createRoom
      responses:
        '200':
          description: Room created
  /rooms/{id}:
    get:
      tags: [Rooms]
      summary: Get room
      operationId: getRoom
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Room
    patch:
      tags: [Rooms]
      summary: Update room
      operationId: updateRoom
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Updated
  /transcripts/{call_id}:
    get:
      tags: [Transcripts]
      summary: Get call transcript
      operationId: getTranscript
      parameters:
        - name: call_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transcript
  /transcripts/{call_id}/url:
    get:
      tags: [Transcripts]
      summary: Get transcript URL
      operationId: getTranscriptUrl
      parameters:
        - name: call_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: URL
  /recording_share_link:
    post:
      tags: [Recordings]
      summary: Create recording share link
      operationId: createRecordingShareLink
      responses:
        '200':
          description: Share link created
  /recording_share_link/{id}:
    get:
      tags: [Recordings]
      summary: Get recording share link
      operationId: getRecordingShareLink
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Share link
  /webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      operationId: listWebhooks
      responses:
        '200':
          description: Webhooks
    post:
      tags: [Webhooks]
      summary: Create webhook
      operationId: createWebhook
      responses:
        '200':
          description: Webhook created
  /webhooks/{id}:
    get:
      tags: [Webhooks]
      summary: Get webhook
      operationId: getWebhook
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Webhook
    patch:
      tags: [Webhooks]
      summary: Update webhook
      operationId: updateWebhook
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Updated
    delete:
      tags: [Webhooks]
      summary: Delete webhook
      operationId: deleteWebhook
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Deleted
  /webhook_call_event_subscription:
    post:
      tags: [Subscriptions]
      summary: Subscribe to call events
      operationId: subscribeCallEvents
      responses:
        '200':
          description: Subscription created
  /webhook_sms_event_subscription:
    post:
      tags: [Subscriptions]
      summary: Subscribe to SMS events
      operationId: subscribeSmsEvents
      responses:
        '200':
          description: Subscription created
  /webhook_contact_event_subscription:
    post:
      tags: [Subscriptions]
      summary: Subscribe to contact events
      operationId: subscribeContactEvents
      responses:
        '200':
          description: Subscription created
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
